<a href="/incidents.json">Get the data</a>

<ul>
<% @incidents.each do |incident| %>
  <li>
	<%= incident.received_raw %>: <%= incident.incident_description %> at <%= incident.location %> (ID: <%= incident.cad_id %>)
  </li>

<% end %>
</ul>