// Place all the styles related to the Incidents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  margin: 0;
  padding: 0;
}

#wrapper {
  font-family: "Helvetica";
  font-size: 14px;
  width: 1200px;
  margin: 0 auto;
  margin-top: 10px;
  display:block;
  color: #333;
}

#info {
  padding-left: 10px;
  margin-top: 10px;
  border-top: 1px solid #CCC;
}

#map {
  float: left;
  width: 900px;
  height:  750px;
  margin: 0;
  padding: 0;
}

#list-wrapper {
  float: left;
  width: 300px;
  height: 750px;
  overflow: scroll; 

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;
  }
 
  li {
    margin-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #CCC;
  }

}
